<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.ico">
    <title>Exam Guard IA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/page-style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand px-2" href="/">
        <img src="assets/img/logos/examguard-logo.svg" alt="Exam Guard IA Logo" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav"  style="background-color: #FFFFFF; width: 100vw">
        <ul class="navbar-nav align-items-center">
            <li class="nav-item" style="margin-right: 10px;">
                <a class="nav-link" href="/login">Iniciar Sesión</a>
            </li>
            <li class="nav-item px-2">
                <button class="btn-custom btn-signup" onclick="window.location.href='/register'">Registrarse</button>
            </li>
        </ul>
    </div>
</nav>

<div id="section1" class="section">
    <img src="assets/img/backgrounds/banner-background.png" alt="Fondo del Banner" class="banner-background">
    <img src="assets/img/shapes/buho-shape.png" alt="Forma del Banner" class="banner-shape">

    <div class="content">
        <h1 class="title">Exam Guard <span style="color: #00A7FF">IA</span></h1>
        <h2 class="subtitle">Protegiendo la Integridad Académica con Precisión</h2>
        <div class="btn-group-banner">
            <button class="btn-custom btn-mail" onclick="window.location.href='/register'">
                <img src="assets/img/icons/mail-icon.svg" alt="Icono de Correo">
                Regístrate Aquí
            </button>
        </div>
    </div>
</div>

<div id="section2" class="section">
    <h2 class="section-title">
        Una plataforma diseñada para todos los instructores
    </h2>
    <!-- Contenedor de Tarjetas -->
    <div class="container mt-2 mb-4">
        <div class="row g-4">
            <div class="col-md-6">
                <div class="card" style="border: none">
                    <img src="assets/img/icons/laptop-icon.svg" alt="Icono de Laptop" class="card-icon">
                    <div class="card-content">
                        <h3 class="card-title">Detección de Objetos No Permitidos</h3>
                        <p class="card-description">Identifica el uso de dispositivos no autorizados durante los exámenes para garantizar la equidad y la integridad.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="assets/img/icons/upload-icon.svg" alt="Icono de Carga" class="card-icon">
                    <div class="card-content">
                        <h3 class="card-title">Carga Simultánea de Múltiples Grabaciones</h3>
                        <p class="card-description">Agiliza la revisión y análisis de exámenes al permitir cargar y analizar varias grabaciones a la vez.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="assets/img/icons/face-icon.svg" alt="Icono de Rostro" class="card-icon">
                    <div class="card-content">
                        <h3 class="card-title">Detección de Comportamientos Inusuales</h3>
                        <p class="card-description">Alertas sobre colaboración no permitida, desalojo no autorizado del examen o movimientos de mirada sospechosos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="assets/img/icons/report-icon.svg" alt="Icono de Informe" class="card-icon">
                    <div class="card-content">
                        <h3 class="card-title">Generación de Informes Detallados</h3>
                        <p class="card-description">Produce informes completos y precisos sobre incidentes detectados durante los exámenes, proporcionando datos valiosos para la evaluación y toma de decisiones.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="section3" class="section">
    <div class="mini-header d-flex">
        <img src="assets/img/buho.png" alt="Buho Mini Banner" class="buho-image">
        <p class="quote-text">"Con Exam Guard, protege tus evaluaciones como un búho vigila su territorio."</p>
    </div>

    <div class="container">
        <div class="row about-content mx-auto">
            <div class="col about-the-project mb-4">
                <h2>Sobre el Proyecto</h2>
                <p>Este proyecto, desarrollado como parte de mi titulación en Ingeniería en Ciencias de la Computación en la Pontificia Universidad Católica Madre y Maestra, se enfoca en la detección de comportamientos fraudulentos durante los exámenes en línea mediante el uso de Visión Computacional y Aprendizaje Profundo.</p>
                <button class="btn-custom" style="background-color: #00A7FF;" onclick="window.location.href='ruta/al/archivo/informe.pdf'">
                    <img src="assets/img/icons/page-icon.svg" alt="Icono de Informe" class="me-2">
                    Leer Informe
                </button>
            </div>
            <div class="col about-me">
                <h2>Sobre Mí</h2>
                <p>Soy Darvy Betances, estudiante de Ingeniería en Ciencias de la Computación. En los últimos cuatro años, he explorado diversas áreas de la tecnología, con un enfoque particular en el desarrollo de software y la inteligencia artificial. Este proyecto es una oportunidad para integrar lo que más me apasiona. A lo largo del camino, he enfrentado desafíos, pero también he contado con el apoyo de mis compañeros y profesores, quienes han sido clave en mi aprendizaje. Estoy entusiasmado por lo que el futuro me depara en este campo.</p>
                <div class="btn-group flex-column flex-md-row gap-2">
                    <button class="btn-custom mb-2" style="background-color: #00A7FF;" onclick="window.location.href='https://www.linkedin.com/in/darvybm'">
                        <img src="assets/img/icons/linkeldin-icon.svg" alt="Icono de LinkedIn" class="me-2">
                        LinkedIn
                    </button>
                    <button class="btn-custom" style="background-color: #2B486E; color: #eee;" onclick="window.location.href='https://github.com/darvybm'">
                        <img src="assets/img/icons/github-icon.svg" alt="Icono de Github" class="me-2">
                        Github
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="section4" class="section d-flex flex-column justify-content-center position-relative">
    <img src="assets/img/shapes/Vector-3.png" alt="Vector Tres" class="vector-tres">
    <img src="assets/img/shapes/Vector-4.png" alt="Vector Cuatro" class="vector-cuatro">

    <div class="container text-center" style="z-index: 1">
        <h2 class="section-title-4">
            Interfaz gráfica intuitiva y amigable para todos
        </h2>

        <div id="carouselExample" class="carousel slide example-image mx-auto" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/img/slides/slide-create-folders.png" class="d-block w-100" alt="Create Folders">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/slides/slide-upload-recordings.png" class="d-block w-100" alt="Upload Recordings">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/slides/slide-process-recordings.png" class="d-block w-100" alt="Process Recordings">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/slides/slide-select-events.png" class="d-block w-100" alt="Select Events">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/slides/slide-timelines.png" class="d-block w-100" alt="Timelines">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/slides/slide-evidences.png" class="d-block w-100" alt="Evidences">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer.html :: footer}">...</div>

<script src="https://kit.fontawesome.com/c6ad53a8f6.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
