<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 403</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/error-404s/error-404-1/assets/css/error-404-1.css">
    <link href="/css/error-style.css" rel="stylesheet">
</head>
<body>
<section class="py-3 py-md-5 min-vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h2 class="d-flex justify-content-center align-items-center gap-2 mb-4">
                        <span class="display-1 fw-bold">4</span>
                        <i class="fas fa-ban text-danger display-4"></i>
                        <span class="display-1 fw-bold bsb-flip-h">3</span>
                    </h2>
                    <h3 class="h2 mb-2" style="color: #2B486E">Forbidden</h3>
                    <p class="mb-5" style="color: #2B486E">You do not have permission to access this page.</p>
                    <button class="btn-custom" role="button" onclick="window.location.href='/'">Back to Home</button>
                </div>
            </div>
        </div>
    </div>
</section>
<img src="/assets/img/backgrounds/banner-background.png" alt="Banner Background" class="banner-background">
<script src="https://kit.fontawesome.com/c6ad53a8f6.js" crossorigin="anonymous"></script>
</body>
</html>
